section.about
  p.about__text.
    На этом сайте собраны понятные и доступные рецепты, чтобы вы могли легко повторить их дома, используя знакомые ингредиенты: наши родные ягоды, фрукты и овощи, и порадовать своих близких яркими блюдами не только без вреда для здоровья, но даже с пользой.
    Мы покажем вам, что готовить натуральные и полезные десерты не сложно. А что именно приготовить сегодня – тут выбор за вами!
  p.about__text.
    Автор научилась готовить благодаря маме и бабушке, которые оградили детство от покупной выпечки, так как на любой праздник друзей и родственников пекли торты сами.
  p.about__text.
    Профессиональному кондитеру сложно найти книгу, листая которую непременно захотелось бы что-нибудь из нее приготовить. Сайт "ЭтотТорт" предлагает простые и занимательные рецепты привлекательных и абсолютно натуральных слыдостей. Здесь вы найдете рецепты понятных, натуральных и вкусных десертов на каждый день.
  p.about__text.
    Будем рады, если какие-то из рецептов вас вдохновят на готовку, делитесь с нами результатом.