section.cakes
  div.cake__wrapper
    h2 Изумрудный торт с клубникой и лаймом
    .cake__left
      p.
        Шпинат не только придает красивый зеленый цвет этому торту, но
        и сохраняет все свои полезные свойства даже при термической обработке.
        Однако никакого вкуса шпината в готовом торте вы не почувствуете!
        Этот бисквит не требует пропитки, он достаточно влажный сам по себе.
        Удобнее всего использовать готовый замороженный шпинат (он уже помыт
        и разделен на порции). Если вы не планируете съесть торт в тот же день,
        то для начинки лучше не использовать свежие ягоды, а приготовить желе
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для коржей: ]
          4 яйца / 140 г муки / 100 г сахара / щепотка соли / 100 г свежего шпината /
          1 ч. л. разрыхлителя / лимонный сок – чайная ложка / цедра одного лайма
        p.
          #[span для начинки: ]
          400 г сливок 33% жирности / 100 г сливочного сыра или маскарпоне /
          40 г сахарной пудры / 200 г свежей клубники
    .cake__right
      img(src="/img/cake1.png", alt="Изумрудный торт с клубникой и лаймом")
  div.cake__wrapper
    h2 Шоколадный медовик с облепиховым завареным кремом
    .cake__left
      p.
        Песочные, хрустящие, рассыпчатые шоколадные коржи и яркий крем
        с кислинкой – в этом пирожном облепиховый заварной крем идеально
        оттеняет терпкость шоколада! Но можно заменить его апельсиновым или
        даже более привычным лимонным заварным кремом.
        Пюре облепихи я готовлю сама: размораживаю ягоды, сливаю лишнюю
        жидкость, взбиваю в блендере, а затем протираю через сито, чтобы
        избавиться от косточек. Сделать это легко, так как пюре из облепихи имеет
        жидкую консистенцию. Но можно использовать и покупное пюре.
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для коржей: ]
          3 средних яйца категории С1 / 100 г сахара / 4 ст. л. меда /
          80 г сливочного масла / 1 ч. л. соды / 360 г муки / 30 г какао-порошка
        p.
          #[span для крема: ]
          180 г пюре облепихи / 100 г сахара
          (по желанию можно увеличить количество сахара) /
          20 г кукурузного крахмала / 2 желтка / 100 г сливочного масла
    .cake__right
      img(src="/img/cake2.png", alt="Шоколадный медовик с облепиховым завареным кремом")
  div.cake__wrapper
    h2 Творожные мини-торты с черничным кремом
    .cake__left
      p.
        Пюре черники красного цвета магическим образом преображается при
        смешивании с другими ингредиентами, окрашивая творожно-сливочный
        крем в благородный фиолетовый цвет. Черника и творог будто созданы друг
        для друга, ведь это сочетание невероятно вкусно!
        Вы можете приготовить один пласт бисквита, нарезать его на несколько
        кругов по 15 см в диаметре и собрать в торт или вырезать из пласта
        небольшие круги и сделать порционные мини-торты.
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для бисквита: ]
          150 г пастообразного творога жирностью 9% / 2 яйца /
          80 г рисовой муки / 10 г миндальной муки или мелко смолотых
          орехов на ваш вкус /1 ч. л. мелко натертой лимонной цедры /
          1 ч. л. разрыхлителя / щепотка соли /
          подсластитель (стевия и т.п.) – по вкусу
        p.
          #[span для крема: ]
          150 г однородного творога / 80 г сливок жирностью 33% /
          40 г черничного пюре / 40 г дынного сахара
          (эритрита или другого подсластителя – по вкусу) /
          100 г свежей голубики для декора
    .cake__right
      img(src="/img/cake3.png", alt="Творожные мини-торты с черничным кремом")
  div.cake__wrapper
    h2 Муссовый торт мак/клубника/лимон
    .cake__left
      p.
        Приходя в кондитерскую, мне часто хочется снять глазурь с муссовых
        тортов, чтобы не употреблять в пищу большое количество красителя,
        которое в ней содержится. Но ведь искусственно окрашенную зеркальную
        глазурь можно легко заменить глазурью на основе натурального фруктового
        пюре! Кроме природного яркого цвета, она еще очень вкусная и ароматная.
        У натуральной глазури, которую я использую в рецепте этого торта, есть
        только один минус – она может стать чуть менее яркой на следующий день.
        Но поскольку этот торт долго не залеживается, вы этого даже не заметите.
        Я обещаю!
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для бисквита: ]
          1 яйцо / 2 ст. л. мака / 30 г сахара / 10 г растопленного сливочного масла /
          30 г муки / разрыхлитель – на кончике ножа /
          дополнительное масло и мука для формы
        p.
          #[span для лимонного крема: ]
          3 желтка / 80 мл свежевыжатого лимонного сока / 80 г сахара / 60 г сливочного
          масла / 3 г желатина, замоченного в 15 мл холодной воды
        p.
          #[span для крубничного желе: ]
          150 г мелко нарезанной клубники / 50 г сахара / 2 г пектина /
          3 г желатина, замоченного в 15 мл холодной воды
        p.
          #[span для мусса на сметане: ]
          200 г сливок жирностью 33% / 300 г сметаны жирностью 20% /
          50 мл молока / 50 г сахара / 1⁄2 ч. л. ванильного экстракта или семена 1⁄2 стручка
          ванили / 10 г желатина, замоченного в 20 мл воды / 1 ст. л. мака
    .cake__right
      img(src="/img/cake4.png", alt="Муссовый торт мак/клубника/лимон")
  div.cake__wrapper
    h2 Облепиховый муссовый торт
    .cake__left
      p.
        Облепиховый мусс не только красивый, но и очень вкусный, с яркой
        кислинкой и тысячей воздушных пузырьков в структуре мусса. Облепиховый
        мусс можно даже подавать как отдельное блюдо, просто разлить по
        бокалам и дать ему застыть в холодильнике; или даже заморозить и сделать
        на его основе вкуснейшее мороженое!
        Мусс с кислыми ягодами обычно готовится с использованием итальянской
        меренги, чтобы избежать сочетания кислоты из ягод и сырого белка
        и увеличить срок хранения торта. Если вы планируете сделать торт заранее,
        можно также заменить свежий яичный белок на сухой белок (альбумин).
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для бисквита: ]
          1 яйцо / 30 г сахара / 10 г растопленного сливочного масла /
          30 г муки / разрыхлитель – на кончике ножа /
          горсть ягод черники или голубики
        p.
          #[span для мусса из голубики: ]
          70 г пюре голубики / 50 мл молока / 2 желтка яиц С1 /
          30 г сахара / 110 г сливок жирностью 33% /
          5 г желатина, замоченного в 20 мл воды
    .cake__right
      img(src="/img/cake5.png", alt="Облепиховый муссовый торт")
  div.cake__wrapper
    h2 Легкий трехцветный творожный торт без выпечки
    .cake__left
      p.
        Это нежный воздушный торт, чем-то напоминающий по вкусу мороженое.
        Вы можете заменить в рецепте основу без выпечки на тонкий слой бисквита
        или на классическую основу для чизкейка из крошеного печенья и масла.
        Фруктовые и ягодные пюре можно приготовить самостоятельно или
        использовать готовые. Если будете сами готовить яблочное пюре, добавьте
        немного воды при приготовлении, чтобы получилась более жидкая
        и однородная текстура.
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для основы: ]
          8 иранских фиников / 50 г овсяных хлопьев / 100 г миндальной муки /
          2 ст. л. кокосового или сливочного масла / 1⁄2 ч. л. какао-порошка
        p.
          #[span для мусса: ]
          600 г пастообразного или однородного творога (200 г на каждый слой) /
          150 г сливок жирностью 33% / 24 г желатина / 50 г меда / 100 г пюре голубики
          или черники / 100 г пюре малины / 100 г яблочного пюре (я использовала детское)
        p.
          #[span для декора: ]
          Микс свежих ягод / съедобные цветы
    .cake__right
      img(src="/img/cake6.png", alt="Легкий трехцветный творожный торт без выпечки")
  div.cake__wrapper
    h2 "Птичье молоко" с черной смородиной
    .cake__left
      p.
        Это облегченный вариант классического «Птичьего молока»
        с уменьшенным количеством сахара и без сливочного масла. Кислинка
        черной смородины нивелирует чрезмерную сладость суфле, делает вкус
        гармоничным, окрашивая торт в фантастический сиреневый цвет. Суфле
        можно подавать не только в виде торта, но и распределить по противню, дать
        застыть и нарезать на конфеты.
        Вместо песочной основы можно использовать тонкий бисквит из рецепта
        торта в «Новогодней обертке».
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для основы: ]
          30 г размягченного сливочного масла / 1 желток / 60 г пшеничной муки /
          соль, разрыхлитель – на кончике ножа
        p.
          #[span для крема: ]
          100 г белка / 1 г лимонной кислоты / 5 г агар-агара силой 900 / 150 мл воды /
          200 г сахара / 30 г сгущенки / 20 г взбитых сливок / 20 г пюре черной смородины
          (протертой от косточек)
    .cake__right
      img(src="/img/cake7.png", alt="\"Птичье молоко\" с черной смородиной")
  div.cake__wrapper
    h2 Тыквенный муссовый торт без выпечки
    .cake__left
      p.
        Тыква не только полезна, но и способна придать этому торту яркий
        оранжевый цвет. Для этого холодного десерта можно использовать любое
        пюре, дружественное с желатином. Для идеального баланса вкуса в этом
        торте выбирайте сладкие сорта тыквы и яблок.
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для основы: ]
          15 фиников / 75 г овсяных хлопьев / 75 г орехов (грецкие + миндаль)
        p.
          #[span для мусса: ]
          500 г тыквенного пюре / 500 г яблочного пюре / 30 г желатина /
          40 г шоколадного соуса, звездочки бадьяна для декора
    .cake__right
      img(src="/img/cake8.png", alt="Тыквенный муссовый торт без выпечки")
  div.cake__wrapper
    h2 Постный тарт мандарин-хурма
    .cake__left
      p.
        Пользуйтесь природной сладостью фруктов и их витаминами даже тогда,
        когда готовите выпечку к чаю! Зимой витамины и цветотерапия особенно
        важны. В сезон хурмы можно выбрать спелые сладкие плоды тех сортов,
        которые не вяжут.
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для основы: ]
          120 г овсяных хлопьев / 70 г орехов (миндаль/грецкие) / 10 фиников /
          2 ст. л. кокосового масла
          250 мл свежевыжатого апельсинового сока / 100 г мандаринового пюре /
          150 г очищенной хурмы / 2 ч. л. агар-агара / мелко натертая цедра 1⁄2 апельсина
        p.
          #[span по желанию: ]
          250 мл орехового или кокосового молока (для белого слоя на дне) +
          1 ч. л. агара / кружочки свежего мандарина и взбитая аквафаба для декора
    .cake__right
      img(src="/img/cake9.png", alt="Постный тарт мандарин-хурма")
  div.cake__wrapper
    h2 Постные лимонные тарталетки
    .cake__left
      p.
        Классические лимонные тарталетки готовятся с лимонным заварным
        кремом на желтках, которые дают довольно выраженный привкус. Моя
        версия цитрусового крема мне нравится по вкусу куда ингридиенты. Я использую
        сок апельсина, а не лимона, чтобы добавлять меньше подсластителя.
        Лимонный вкус получается за счет цедры.
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для песочного теста: ]
          100 г безглютеновой муки (я использовала 30 г кукурузной и 70 г рисовой) /
          50 мл растительного молока/воды / 30 мл растительного масла
          (в идеале – кокосового) / 5 г кленового сиропа / щепотка соли
        p.
          #[span для крема: ]
          200 мл апельсинового сока + 30 г пюре манго (манго добавить для яркого цвета),
          либо 230 мл сока / 100 г кокосовых сливок / 1 ст. л. кукурузного крахмала /
          1 ст. л. лимонного сока /2 ст. л. сиропа топинамбура или др. /
          1⁄2 ч. л. агар-агара силой 900 / цедра небольшого лимона
    .cake__right
      img(src="/img/cake10.png", alt="Постные лимонные тарталетки")
  div.cake__wrapper
    h2 Пряный тыквенный пирог
    .cake__left
      p.
        Обычно цвет такого пирога становится менее ярким из-за большого
        количества молотых пряностей в начинке. Я предпочитаю ароматизировать
        сливки для начинки цельными пряностями и процеживать специи после того,
        как они настоятся.
        Шелковистая мякоть тыквы, привкус лимона, согревающий аромат специй
        и яркий цвет – вся польза витаминов и нерафинированных продуктов
        сосредоточена в этом пироге!
        Если вы любите яркий вкус тыквы, добавляйте меньше цедры.
        Начинку можно сделать более нежной, увеличив количество сливок
        на 50–70 г. Для приготовления тыквенного пюре тыкву можно отварить.
        В этом случае мякоть тыквы вберет в себя часть воды, но и отдаст отвару
        часть витаминов и цвета.
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для пирога: ]
          200 г овсяной муки (можно использовать любую) / 1 яйцо / 100 г натурального
          йогурта или сметаны / 2 ст. л. кокосового или растительного масла /
          соль – на кончике ножа
        p.
          #[span для начинки: ]
          1 кг тыквы / 150 г сливок жирностью 33% (чем жирнее, тем нежнее начинка) +
          50 г для подачи / 1 яйцо / 2 палочки корицы / 3 бутона гвоздики /
          1 звездочка бадьяна (либо по 1 ч. л. перемолотых специй) / цедра лимона /
          цедра апельсина / мед или кленовый сироп – по вкусу
    .cake__right
      img(src="/img/cake11.png", alt="Пряный тыквенный пирог")
  div.cake__wrapper
    h2 Ванильный рулет с клубничным кремом
    .cake__left
      p.
        Ваниль и сливочный крем с клубникой – это просто божественно!
        Для того чтобы приготовить шоколадный рулет, просто замените 10–15 г
        муки из рецепта какао-порошком.
        Сам рулет готовится элементарно и быстро – буквально когда гости на
        пороге. Просто смешиваете все ингредиенты с помощью венчика, выпекаете
        пласт бисквита, промазываете кремом – и готово!
        Будьте аккуратны, крем настолько вкусный, что вы рискуете съесть его
        просто так.
      section.ingredients
        span.ingredients__title ингредиенты:
        p.
          #[span для рулета: ]
          4 яйца С1 / 140 г муки / 80 г сахара (+ дополнительно по вкусу) /
          1 ст. л. ванильного сахара с натуральной ванилью /
          10 г разрыхлителя / щепотка соли
        p.
          #[span для крема: ]
          150 г однородного творога в брикете /
          100 г сливок жирностью 33–35% / 150 г клубничного пюре /
          сахарная пудра – по вкусу / свежая клубника для декора
    .cake__right
      img(src="/img/cake12.png", alt="Ванильный рулет с клубничным кремом")
