ul.controls
  li.controls__left
    a.controls__link(href="#")
      svg
        use(xlink:href="/img/icon/sprite.svg#left-arrow")
  li.controls__right
    a.controls__link(href="#")
      svg
        use(xlink:href="/img/icon/sprite.svg#left-arrow")