h1.contacts Контакты
p.contacts__text
  h4.constacts_subtitle Оформление заказов
  p в пн-вс с 09:00 до 21:00
  p по телефону: +38 (093) 124-83-52
p.constacts__text
  h4.constacts_subtitle Адрес
  p Украина, 61000, Харьков, ул. Клочковская д.101-а
  p Телефон : +38 (066) 724-53-34
p.constacts__text
  h4.constacts_subtitle Департамент маркетинга
  span Email : dergachevkonstantin@gmail.com
