nav.menu
  .menu__item
    a.menu__link(href="/") домой
  .menu__item
    a.menu__link(href="/cakes.html") торты
  .menu__item
    a.menu__link(href="/about.html") о нас
  .menu__item
    a.menu__link(href="/contacts.html") контакты
  include hamburger