ul.social
  //- li.social__item
  //-   a.social__link(href="https://www.facebook.com/profile.php?id=100003527152401" target='_blank')
  //-     svg
  //-       use(xlink:href="/img/icon/sprite.svg#facebook")
  li.social__item
    a.social__link(href="http://dergachevkonstantin.surge.sh/" target='_blank')
      svg
        use(xlink:href="/img/icon/sprite.svg#surge")